PORT=8020
BIND_HOST=
CONTAS_FRONTEND_ORIGINS=http://localhost:5173
CONTAS_ACCESS_ISSUER=
CONTAS_ACCESS_AUD=
CONTAS_ALLOWED_EMAILS=
CONTAS_DEV_BYPASS_AUTH=1
CONTAS_DEV_USER_EMAIL=dev@local
CONTAS_DEV_USER_NOME=Dev
CONTAS_DOMAIN_API_URL=http://127.0.0.1:8000
CONTAS_DOMAIN_API_KEY=
